html {
  font-family: Roboto, sans-serif;
}

/*#h1{
    text-align: center;
    font-size: 64px;
    margin-top: -10px;

}*/


.h1_box{
    text-align: center;
    margin-top: -5px; 
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    
  }


  .container {
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/

    /*width: 100%;*/
    /*display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;*/

    /*display: grid;*/
    /*grid-template-rows: 1fr auto;*/
    /*width: 500px;*/
  }
  
  .box {
    width: calc(20% - 20px); 
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr)); 
    align-items: center;
    margin-right: 20px;
    background-color: #4CAF50;
  }


  .box_button {
    display: none; /*ДЕЛАЕТ КНОПКУ НЕ ВИДИМОЙ*/

  
    background-color: #4CAF50; 
    color: white; 
    cursor: pointer; 
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    text-align: center; 
    padding: 12px 24px; 
    border: none; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    transition: transform 0.2s ease, background-color 0.2s ease;
    width: 100%; 
    height: 30px;
    margin-top: -5px;
    box-sizing: border-box; 

  }


  .separator {
    display: none;   /*ДЕЛАЕТ НЕВИДЕМЫМ ЭТО ДЛЯ КНОПКУ ОТДЕЛЕНИЕ*/

    height: 1px; 
    background-color: #ccc; 
    margin: 50% 0;
    margin-bottom: 5px;
    position: relative; 
     
  } 

  @media (max-width: 1189px) {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .box {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      margin: 10px;
      height: auto; 
    }
  }

  
  @media (max-width: 768px) {
    .container {
      flex-direction: column; 
      flex-wrap: wrap;
      
    }
  
    .box {
      flex: 5; 
      margin-bottom: 20px;
      width: 100%;
      margin-right: 20px;
    }

    .box_button {
      align-self: flex-start; 
    }
    .header{
      width: 100px;
    }

    .header h1 {
      text-align: center;
    }

    .header{
      width: 414px;
    }
  }
  

.shapca{
    display: block; 
    margin: 0 auto;
}

.header {
  display: flex;
  background-color: green;
  height: 300px; 
  width: 100%;
  align-items: center;
}

.header h1{
  /*text-align: center;*/
  margin: auto;
  font-size: 50px;
 }




  
  .box_button:hover {
    background-color: #45a049; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  }
  
  .box_button:active {
    transform: scale(0.95); 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); 
  }

.drop-down-element{
  margin-top: 20px;
  
}

/*.drop-down-element{
  summary {
    cursor: pointer;
    border: 1px solid  #ccc; ; 
    height: 35px;
    outline: none; 
  }
}*/
/*.drop-down-element summary:hover,*/
.drop-down-element .content {
  outline: 2px solid #ccc;
  background-color: #C0C0C0; 
  outline-offset: -2px;
  padding: 10px; 
} 


.drop-down-element{
  summary {
    height: 35px;
    /*margin: -35px 0 0 -100px;*/
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #808080;
    color: #fff;
    font-size: 1.5em;
    outline: none;
  }
}





.slider-container {
  display: flex;
  flex-direction: column; /* Keep vertical direction */
  align-items: center;
}

#fontSizeSlider {
  width: 200px; /* Maintain width */
  height: 40px; /* Increase height to make it taller */
  box-sizing: border-box;
}

#paragraph {
  font-size: 20px; /* Keep font size */
}


.top_div {
  margin-top: 20px;
  background-color:#0f9432; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 100px; 
  text-align: center; 
}

.top { 
  margin: 0; 
}

.top_div_2 {
  margin-top: 20px;
  background-color:#1bbf47; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 100px; 
  text-align: center; 
}



/* Попытка обновления за 25.10.24*/

.box.enlarged {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1bbf47; /* Или любой другой цвет фона */
  z-index: 9999; /* Чтобы элемент был поверх других */
  padding: 20px;
  box-sizing: border-box;
}
.modal {
  display: block; 
  position: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70vh;
  max-height: 80%;
  background-color: #6A5ACD;
  z-index: 9999;
  padding: 20px;
  overflow: auto; /* Добавляем возможность прокрутки, если содержимое большое */
  border-radius: 30px;
  font-size: 3.5em;
}










.toggle {
  position: absolute;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align-self: flex-start;
}

.toggle-label {
  margin-left: 80px;
  white-space: nowrap;
  margin-top: -10px;
}


.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle__label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000; /* Оранжевый цвет */
  border-radius: 34px;
  transition: .4s;
}

.toggle__label::after {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .toggle__label {
  background-color: #FFFFFF; /* Зеленый цвет при включении */
}

input:checked + .toggle__label::after {
  left: 28px;
  background-color: #000000;
}